@import url('https://rsms.me/inter/inter.css');


*, ::after, ::before {
    box-sizing: border-box;
}

:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFDC5F;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height:100vh;
}

.player {
    height: 570px;
    background-color: #5C6085;
    padding-bottom: 2.5rem;
    width: 321px;
    margin-top: 70px;
    background-repeat: no-repeat;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    border-radius: 22px;
    background-image: url('../images/netsky.png');
    background-size: contain;
    background-position: top;
    -webkit-box-shadow: 10px 14px 34px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 14px 34px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 14px 34px -12px rgba(0, 0, 0, 0.75);
}

.controls {
    background-image: url('../images/bluebackground.png');
    height: 300px;
    background-size: cover;
    border-radius: 22px;
    position: relative;
}

.songs {
    text-align: center;
    margin-top: 80px;
}

.controls .songs h2 {
    color: white;
    font-family: "Inter";
    margin: 0;
    font-size: 1.2rem;
    font-weight: 400;
}

.controls .songs h3 {
    color: white;
    font-family: "Inter";
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: .3rem;
}

.time {
    position: relative;
}

.time .timestandings {
    color: #fff;
    margin-top: 10px;
    padding: 0 2.4rem;
    display: flex;
    justify-content: space-between;
    font-family: "Inter";
    font-size: .7rem;
}

.time .progress {
    width: 245px;
    margin: 0 auto;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    position: relative;
}

.time .progress .progressBar {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 0%;
    border-radius: 4px;
    transition: all 0.4s ease;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.playpause {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 1.5rem;
    margin-top:2.5rem;
}

.pause {
    display: none;
}

.play {
    display: flex;
    position: relative;
    margin: 0 1.2rem;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding:0 1.2rem 0 2rem;
  
}

.play::before {
    background-image: url('../images/play.png');
    width:35px;
    content:'';
    display: block;
    background-repeat: no-repeat;
    height:40px;
    position:absolute;
}

.play.pause::before {
    background-image: url('../images/pause.png');
    width:40px;
    content:'';
    background-repeat: no-repeat;
    height:40px;
    display: block;
    position:absolute;
}

.previous img, .next img {
    width: 25px;
}

.copyright {
    color: #fff;
    font-family: "Calibre";
    margin-top: 1.7rem;
}

.copyright a {
    text-decoration: none;
    color: #5B6084;
}

.sound {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

.sound img {
    width: 20px;
    margin-left: 2.5rem;
    cursor: pointer;
}

.sound-slider {
    opacity: 0;
    visibility: hidden;
    transition: .2s;
}

.sound-slider.show {
    opacity: 1;
    visibility: visible;
}

.slider {
    height:5px;
    width: 199px;
    -webkit-appearance: none;
    appearance: none;
    margin-left: 1.5rem;
    color: rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%; 
    background: #ffffff;
    cursor: pointer;
}